*{
    margin: 0;
    Padding: 0;
}

    .jumbotron {
        background-image: url("/cover/flexbox-cards.png");
        background-size: cover;
        height: 346px;
        background-repeat: no-repeat;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bg-light-rgb), var(--bs-bg-opacity), (bg-gradient))


    }



<div class="card d-flex">-->
<!--        <div class="card-header">-->
<!--            <div class="p-3 mb-2 bg-primary text-white">Choose Size and Crust>-->
<!--            </div>-->
<!--            <ul class="list-group list-group-flush">-->
<!--
<!--            </ul>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <ul class="list-group list-group-flush">-->
<!--        <li class="list-group-item">Crispy Thin</li>-->
<!--        <li class="list-group-item">Thin enough for optimum crispy to crunchy ratio</li>-->
<!--        <li class="list-group-item"> <input type="radio" name="pizza" value="medium" >Medium (12")<br></li>-->
<!--        <li class="list-group-item"> <input type="radio" name="pizza" value="medium" >Large (14")<br></li>-->
<!--    </ul>-->