*{
    margin: 0;
    padding: 0;
}

nav{
    box-sizing: border-box;
    flex-basis: 0;
}
.list-container{
    display: flex;
    margin: auto;
    list-style-type: none;
    font-weight: bolder;
    background: #C1C1C1;
    font-family: "Work Sans";
    align-items: center;
    padding: 5px;

}

li{
    padding: 0 5px;
}

li:nth-child(5) {
    margin: 0 auto;
}

li:nth-child(6) {
    margin-left: auto;
}

a{
 text-decoration: none;
    color: black;
}

#logo{
    font-family: "Montserrat";
    font-size: 3em;
    padding: .2em 0;


}

