*{
    margin: 0;
    padding: 0;
}

nav{
    box-sizing: border-box;
    display: flex;
    font-weight: bolder;
    background: #C1C1C1;
    font-family: "Work Sans";
    align-items: center;
    padding: 5px;

}
.list-one{
    list-style-type: none;
    display: flex;
    width: 20%;

}


a{ text-decoration: none;
    padding: 5px;
    color: black;
}

#logo{
font-size: 3em;
    padding: .2em;
    font-family: Montserrat;
    width: 60%;
    text-align: center;

}

.list-two {
    list-style-type: none;
    display: flex;
    width: 20%;
    justify-content: flex-end;
}
