body, html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 8px;
    padding: 8px;
    border: 1px solid grey
}

:root {
    --bg-info: #CDDEFF;
    --text-info: #6565B4;
    --bg-success: #CFF3DA;
    --text-success: #01632C;
    --bg-warning: #FCFBCA;
    --text-warning: #AC9E48;
    --bg-error: #FAD3D7;
    --text-error: #9B3E53;
}
.message-info {
    /*background-color: #CDDEFF;*/
    /*color: #6565B4;*/
    background-color: var(--bg-info);
    color: var(--text-info);
}


.message-success {
    /*background-color: #CFF3DA*/
    /*color: #01632C*/
    background-color: var(--bg-success);
    color: var(--text-success)
}

.message-warning {
    /*background-color: #FCFBCA;*/
    /*color: #AC9E48;*/
    background-color: var(--bg-warning);
    color: var(--text-warning);
}

.message-error {
    /*background-color: #FAD3D7;*/
    /*color: #9B3E53;*/
    background-color: var(--bg-error);
    color: var(--text-error);
}

