h4{
    margin: 0;
    padding: 0;
    color: #0fb784;
    font-style: italic;
    color: darkblue;
}
h3{
    margin: 0;
    padding: 0;
    color: darkblue;
}
h5{
    color: crimson;
    margin: 0;
    Padding: 0;
}

P{
    margin: 0;
    font-style: italic;
    color: darkblue;

}
h2{
    margin-bottom: 0;
    padding: 0;
    color: darkblue;
}