
    .fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}
h1 { text-align: center; }

body{ background-color: yellow; }

h2 { color: blue; }

body { background-image: url(https://alumni.codeup.com/link-preview.jpg);
    background - position; center;
    center;
    background-size: 100% 100%;
    }
p {color: blue;}
ul {list-style: square;}
ul {color: darkorange;}
ol {color: darkorange;}

body { font-family: Helvetica, Arial, Sans-Serif; }


td { font-size: 15px; }
td{color: darkorange;}
tr { font-size: 12px; }
tr { text-indent: 50px; }
tr { color: white;}

    /* unvisited link (:link) */
    a:link {
        color:red;
    }

    /* visited link (:visited) */
    a:visited {
        color:black;
    }

    /* mouse hover over link (:hover) */
    a:hover {
        color:blue;
    }

    /* active/selected link (:active) */
    a:active {
        color:green;
    }


